################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AndyServices/.vs/AndyServices/v17
/src/.vs/AndyServices/v17
