################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AndyServices/.vs/AndyServices/v17
/src/.vs/AndyServices/v17
/src/.vs/AndyServices/config
/src/Services/Catalog/Catalog.API/bin/Debug/net6.0
/src/Services/Catalog/Catalog.API/obj
/src/.vs/AndyServices/DesignTimeBuild
/src/.vs/ProjectEvaluation
/src/.vs/AndyServices/FileContentIndex
/src/obj
/src/bin/Debug
